doctype html
html
  head
    link(rel='icon', type='image/png', href='/img/numeral.png')
    title
    <link rel="stylesheet" href="/css/index.css">
  body
    div#contenedor
      form(action='/armas', method='get')
        label(for="usuario") Usuario:
        br
        input(name='usuario', placeholder='Ingresa tu nombre de usuario')
        br
        label(for="usuario") Sala:
        br
        input(name='sala', placeholder='Ingresa tu sala')
        br
        br
        div.sub
          input(type='submit', value='Empezar')

    //- script(src='https://code.jquery.com/jquery-1.11.1.js')
    //- script.
      
    //-   $(function () { 
    //-       var equis = $('.figx');
    //-       var circulo = $('.figo');
    //-       equis.click(()=>{
    //-           $(equis).css({'border':'2px solid black'});
           
    //-           if($(circulo).css('border').length > 0)
    //-              $(circulo).css({'border':'none'})
              
    //-           $('#ar').attr('value','');
    //-           $('#ar').attr('value','x');
    //-       });

    //-       circulo.click(()=>{
    //-           $(circulo).css({'border':'2px solid black'});
    //-           if($(equis).css('border').length > 0)
    //-              $(equis).css({'border':'none'});
              
    //-           $('#ar').attr('value','');
    //-           $('#ar').attr('value','o');
    //-       })
    //-   });
    
//- css('background').length != 0